header {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: #EEA47FFF;
  margin-top:120px;
}

header span {
  font-family: 'Source Sans Pro';
  font-size: 36px;
}