header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEA47FFF;
  margin-top:90px;
}

header span {
  font-family: 'Source Sans Pro';
}